public net.minecraft.network.play.client.CPacketCloseWindow field_149556_a
 #windowId
 public-f net.minecraft.entity.EntityLivingBase field_110157_c
 #x
 public net.minecraft.network.play.client.CPacketPlayer field_149479_a
 #y
 public net.minecraft.network.play.client.CPacketPlayer field_149477_b
 #z
 public net.minecraft.network.play.client.CPacketPlayer field_149478_c
 #yaw
 public net.minecraft.network.play.client.CPacketPlayer field_149476_e
 #pitch
 public net.minecraft.network.play.client.CPacketPlayer field_149473_f
 #onGround
 public net.minecraft.network.play.client.CPacketPlayer field_149474_g
 #ip
 public net.minecraft.network.handshake.client.C00Handshake field_149598_b
 #port
 public net.minecraft.network.handshake.client.C00Handshake field_149599_c
 #flying
 public net.minecraft.network.play.client.CPacketPlayerAbilities field_149498_b
 #flySpeed
 public net.minecraft.network.play.client.CPacketPlayerAbilities field_149497_e
 #profile
 public net.minecraft.network.login.client.CPacketLoginStart field_149305_a
 #session
 public-f net.minecraft.client.Minecraft field_71449_j
 #timer
 public-f net.minecraft.client.Minecraft field_71428_T
 #rightClickDelayTimer
 public net.minecraft.client.Minecraft field_71467_ac
 #curBlockDamageMP
 public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f
 #blockHitDelay
 public net.minecraft.client.multiplayer.PlayerControllerMP field_78781_i
 #motionX
 public net.minecraft.network.play.server.SPacketEntityVelocity field_149415_b
 #motionY
 public net.minecraft.network.play.server.SPacketEntityVelocity field_149416_c
 #motionZ
 public net.minecraft.network.play.server.SPacketEntityVelocity field_149414_d
 #isHittingBlock
 public net.minecraft.client.multiplayer.PlayerControllerMP field_78778_j
 #lines
 public net.minecraft.network.play.client.CPacketUpdateSign field_149590_d
 #x
 public net.minecraft.network.play.client.CPacketVehicleMove field_187007_a
 #y
 public net.minecraft.network.play.client.CPacketVehicleMove field_187008_b
 #z
 public net.minecraft.network.play.client.CPacketVehicleMove field_187009_c
 #yaw
 public net.minecraft.network.play.client.CPacketVehicleMove field_187010_d
 #pitch
 public net.minecraft.network.play.client.CPacketVehicleMove field_187011_e
 #horseJumpPower
 public net.minecraft.client.entity.EntityPlayerSP field_110321_bQ
 #horseJumpPowerCounter
 public net.minecraft.client.entity.EntityPlayerSP field_110320_a
 #auxData
 public net.minecraft.network.play.client.CPacketEntityAction field_149516_c
 #yaw
 public net.minecraft.network.play.server.SPacketPlayerPosLook field_148936_d
 #pitch
 public net.minecraft.network.play.server.SPacketPlayerPosLook field_148937_e
 #pressed
 public net.minecraft.client.settings.KeyBinding field_74513_e
 #hand
 public net.minecraft.network.play.client.CPacketPlayerTryUseItem field_187029_a
 #data
 public net.minecraft.network.play.client.CPacketCustomPayload field_149561_c
 #entityId
 public net.minecraft.network.play.client.CPacketUseEntity field_149567_a
 #hand
 public net.minecraft.network.play.client.CPacketUseEntity field_186995_d
 #hitVec
 public net.minecraft.network.play.client.CPacketUseEntity field_179713_c
 #action
 public net.minecraft.network.play.client.CPacketUseEntity field_149566_b
 public net.minecraft.entity.Entity func_70052_a(IZ)V
 #setFlag
 public net.minecraft.entity.Entity func_70083_f(I)Z
 #getFlag
 public net.minecraft.network.play.client.CPacketClientSettings field_149528_b
 #view
 public net.minecraft.util.Timer field_194149_e
 #tickLength
 public net.minecraft.network.play.server.SPacketExplosion field_149152_f #motionX
 public net.minecraft.network.play.server.SPacketExplosion field_149153_g #motionY
 public net.minecraft.network.play.server.SPacketExplosion field_149159_h #motionZ
 public net.minecraft.entity.Entity field_71087_bX #inPortal
 public net.minecraft.client.renderer.EntityRenderer func_78479_a(FI)V # setupCameraTransform
 public net.minecraft.network.play.client.CPacketKeepAlive field_149461_a # key
 public net.minecraft.network.play.client.CPacketTabComplete field_149420_a # message
 public net.minecraft.entity.Entity field_70134_J # isInWeb
 public net.minecraft.network.play.client.CPacketChatMessage field_149440_a # message
 public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock field_179725_b # position
 public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock field_149579_d # placedBlockDirection
 public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock field_187027_c # hand
 public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock field_149577_f # facingX
 public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock field_149578_g # facingY
 public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock field_149584_h # facingZ
 public net.minecraft.client.renderer.entity.RenderManager field_78725_b # renderPosX
 public net.minecraft.client.renderer.entity.RenderManager field_78726_c # renderPosY
 public net.minecraft.client.renderer.entity.RenderManager field_78723_d # renderPosZ
 public net.minecraft.client.renderer.EntityRenderer func_78467_g(F)V # orientCamera
 public net.minecraft.network.play.client.CPacketPlayerDigging field_179717_a # position
 public net.minecraft.network.play.client.CPacketPlayerDigging field_179716_b # facing
 public net.minecraft.network.play.client.CPacketPlayerDigging field_149508_e # action
 public net.minecraft.network.play.server.SPacketChat field_148919_a # chatComponent
 public net.minecraft.client.gui.inventory.GuiEditSign field_146848_f # tileSign
 public-f net.minecraft.tileentity.TileEntitySign field_145915_a # signText
 public net.minecraft.client.entity.AbstractClientPlayer func_175155_b()Lnet/minecraft/client/network/NetworkPlayerInfo; # getPlayerInfo
 public-f net.minecraft.util.text.TextComponentString field_150267_b # text
 #smallshield stuff
 public net.minecraft.client.renderer.ItemRenderer field_187471_h # equippedProgressOffHand
 public net.minecraft.client.renderer.RenderGlobal field_72738_E # damagedBlocks